# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
terraform.tfvars.json
*.tfvars.local
override.tf
*_override.tf
.terraform.lock.hcl

env*/

# Ansible
**/ansible/inventory/hosts.ini
**/ansible/roles/**/files/*

# Kubectl
*.kubeconfig

# Helm
helm/cache/
helm/tmp/

# Kubernetes
*.log

# General
.vscode/
*.swp
*.tmp

# Python
__pycache__/
*.py[cod]
venv/

# OS
.DS_Store

# Scripts output
scripts/merged-kubeconfig*
